<% layout('/layouts/boilerplate') %>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mb-5">
                <img src="<%= campground.image %>" alt=""></img>
                <div class="card-body">
                    <h5 class="card-title">
                        <%= campground.title %>
                    </h5>
                    <p class="card-text">
                        <%= campground.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= campground.location %>
                    </li>
                    <li class="list-group-item ">
                        $ <%= campground.price %> / night
                    </li>
                </ul>
                <div class="card-body">
                    <a href="/campgrounds/<%= campground._id %>/edit" class="card-link btn btn-info">Edit</a>
                    <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=delete" method="post">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
                <div class="card-footer ">
                    <a href="/campgrounds">All CampGround</a>
                </div>
            </div>
            <form class="mb-3" action="">
                <div class="mb-3">
                    <label class="form-label" for="rating">Rating : </label>
                    <input class="form-range" name="review[rating]" type="range" min="1" max="5">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="body">Review : </label>
                    <textarea name="review[body]" id="body" cols="30" rows="5" class="form-control"></textarea>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>













    <!-- <h1>
        <%= campground.title %>
    </h1>
    <h3>
        <%= campground.location %>
    </h3>
    <img src="<%= campground.image %>" alt=""></img>
    <p>
        <%= campground.description %>
    </p>
    <footer>
        <p>
            <a href="/campgrounds">Back to all CampGrounds</a>
        </p>
        <p>
            <a href="/campgrounds/<%= campground._id %>/edit">Edit CampGround</a>
        </p>
        <form action="/campgrounds/<%= campground._id %>?_method=delete" method="post">
            <button>Delete</button>
        </form>

    </footer> -->